# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Third party
thirdparty/grpc
thirdparty/gtest
thirdparty/qt5

# Build
/Debug
/x64
/.vs
/.git
opensslRSA/x64/Debug/opensslRSA.log
opensslRSA/x64/Debug/opensslRSA.tlog/CL.command.1.tlog
opensslRSA/x64/Debug/opensslRSA.tlog/CL.read.1.tlog
opensslRSA/x64/Debug/opensslRSA.tlog/CL.write.1.tlog
opensslRSA/x64/Debug/opensslRSA.tlog/link.command.1.tlog
opensslRSA/x64/Debug/opensslRSA.tlog/link.read.1.tlog
opensslRSA/x64/Debug/opensslRSA.tlog/link.write.1.tlog
opensslRSA/x64/Debug/opensslRSA.tlog/opensslRSA.lastbuildstate
opensslRSA/x64/Debug/vc141.idb
opensslRSA/x64/Debug/vc141.pdb
opensslRSA/x64/Debug/opensslRSA.Build.CppClean.log
